.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loading-img {
  width: 78px;
}
@media (min-width: 768px) {
  .loading-img {
    width: 135px;
  }
}

.loading-text {
  color: #fff;
  font-family: 'Assistant';
  font-size: 27px;
}
